.nav_table {
    width: 100%;
    table-layout: fixed;
    padding-left: 0px;
    padding-right: 0px;
    border: "1";
}

.nav_row {	
	height: 87px;
}

.nav_cell {
	background-color: #D8D8D8;
    text-align: center;
}​

.footer {
	text-align:center;
	font-size: 10px;
	color: #D3D3D3;
	position:fixed;
	bottom:0px;
	width:100%;
}
.header {
    overflow:auto;
    position:absolute;
    top:-150px;
    width:100%; 
    text-align:right;
}

}

a {
  color: #4099FF; /* making links blue color */
  text-decoration: none; /* no line under links */
}

a:hover {
  text-decoration: underline; /* underline if link is hovered over */
}

.bio {
  color: #D3D3D3;
  text-decoration: none;
}