<!DOCTYPE html>
<html>
	<head>
		<title> Password Reset </title>
		<link rel="stylesheet" href="/static/forms.css">
		<link rel="icon" href= "icon.png">
	</head>

	<body background = "background.jpg">
		<div id = "horizon">
    		<div id="content">			
				<form action="submit.php" method = "POST" autocomplete = "on" >
					<span> 
						Reset
						<span class = "headline">
							<a href="login.html">
								Box Score Chatter
							</a>
						</span> 
						Password.
					</span>
					<hr>
					<span>
						<label for = "email"></label> <input name = "email" type = "email" placeholder="Verify Email" required class = "text_box password">
					</span>

					<span>
						<input type = "submit" value = "Send Reset Link" class="button"></input><hr>
					</span>

					<span class = "bodytext">
						Already have an account? 
						<a href="login.html"> 
							Log in Here >>
						</a>
					</span><br>

					<span class = "bodytext"> 
						Don't have an account? 
						<a href="register.html" class = "bodytext"> 
							Sign Up >> 
						</a> 
					</span><br>

					
 					<span class = "bodytext footer" >
 						Copyright &#169; 2016 <a href= "https://www.linkedin.com/in/jake-gavin-46786672" class = "bio"> Jacob Gavin</a> and <a href= "https://www.linkedin.com/in/ryantick" class = "bio"> Ryan Tick </a>
 					</span>

				</form>
			</div>
		</div>
	</body>
</html> 