<!doctype html>
<title>Box Score Chatter</title>
<head>
	<link rel="stylesheet" type="text/css" href="/static/home.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/static/home.js"></script>
</head>
<body bgcolor="#81DAF5">
	<table class = "nav_table">
		<tr class = "nav_row">
  			<td class = "nav_cell" id = "Bulls">Bulls</td>
  			<td class = "nav_cell" id = "Celtics">Celtics</td>
  			<td class = "nav_cell" id = "Lakers">Lakers</td>
  			<td class = "nav_cell" id = "Knicks">Knicks</td>
  			<td class = "nav_cell" id = "Warriors">Warriors</td>
  		</tr>
	</table>
	<div class = "Banner"  align = "center">
		Select a Team To See a Live Stream of Team Related Tweets  
	</div>
</body>
