<!DOCTYPE html>
<html>
	<head>
		<title> Account Created Successfully </title>
		<link rel="stylesheet" href="/static/forms.css">
		<link rel="icon" href= "/static/icon.png">
	</head>

	<body background = "/static/background.jpg">
		<div id = "horizon">
    		<div id="content">			
				<form action="submit.php" method = "POST" autocomplete = "on" >
					<span> 
						
						<span class = "headline">
							<a href="/login">
								Box Score Chatter
							</a>
						</span> 
						
					</span>
					<hr>
					<p> Account created successfully!</p>
					<hr>

					<span class = "bodytext">
						Ready to go? 
						<a href="/login"> 
							Log in Here >> <br>
						</a>
					</span><br>

					
 					<span class = "bodytext footer" >
 						Copyright &#169; 2016 <a href= "https://www.linkedin.com/in/jake-gavin-46786672" class = "bio"> Jacob Gavin</a> and <a href= "https://www.linkedin.com/in/ryantick" class = "bio"> Ryan Tick </a>
 					</span>

				</form>
			</div>
		</div>
	</body>
</html> 