<!doctype html>
<title>Box Score Chatter</title>
<head>
	<link rel="stylesheet" type="text/css" href="/static/team_name.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/static/team_name.js"></script>
</head>
<body bgcolor="#81DAF5">
	<table class = "nav_table">
		<tr class = "nav_row">
  			<td class = "nav_cell" id = "Bulls">Bulls</td>
  			<td class = "nav_cell" id = "Celtics">Celtics</td>
  			<td class = "nav_cell" id = "Lakers">Lakers</td>
  			<td class = "nav_cell" id = "Knicks">Knicks</td>
  			<td class = "nav_cell" id = "Warriors">Warriors</td>
  		</tr>
	</table>
	<div class = "tweets_list" align = "center">
		{% if team_name %}
  			<h1 class = "header">{{ team_name }} page</h1>
  			{% for tweet_id in tweet_ids %}
  				{{ oembed_tweet(tweet_id) }}
  			{% endfor %}
		{% else %}
  			<h1>This page is for default</h1>
		{% endif %}
	</div>
</body>